@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



/* NAVBAR */

header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav_bar{
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

.nav_bar .image1{
    height: 70px;
}

.nav_bar ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav_bar li{
    margin-left: 20px;
}

.nav_bar ul li a{
    text-decoration: none;
    font-family: 'Roboto' , sans-serif;
    color: lightskyblue;
    font-size: 14px;
    font-weight: bold;
}
.nav_bar ul li a:hover{
    color: steelblue;
}

/* END NAVBAR */

.titles{
    font-family: Roboto , sans-serif;
    color: #234a6a;
    font-weight: bolder;
    font-size: 60px;
}

.subtitles{
    font-family: Roboto , sans-serif;
    color: skyblue;
    font-weight: inherit;
    font-size: 40px;
}

.sections_text {
    font-family: Roboto , sans-serif;
    color: steelblue;
    font-weight: bold;
    font-size: 20px;
}

.sections_text ul{
    font-family: Roboto , sans-serif;
    color: skyblue;
    font-weight: lighter;
    font-size: 20px;
}

.container-about-us{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(19,19,148,0.4962185557816877) 0%, rgba(44,100,241,1) 14%, rgba(2,0,36,1) 94%);
}

/*Who we are section*/
.container-persons {
    display: flex;
    flex-wrap: wrap;
    background: rgb(39,151,228);
    background: linear-gradient(90deg, rgba(39,151,228,0.4962185557816877) 0%, rgba(79,179,240,1) 47%, rgba(222,237,255,1) 100%);
}

.container-persons .card-person {
    width: 200px;
    padding: 10px;
    margin: 10px;
    height: 400px;
    background-color: steelblue;
    border-radius: 10px;
    box-shadow: 0px 5px 3px 0px #0000005e;
    color: white;
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
}

.container-persons .card-person img {
    width: 80%;
}
/*Who we are section end*/



/*What we do section*/

.container-what-we-do{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(19,19,148,0.4962185557816877) 0%, rgba(44,100,241,1) 14%, rgba(2,0,36,1) 94%);
}

.title-what-we-do{
    font-family: Roboto , sans-serif;
    color: #234a6a;
    font-weight: bolder;
    font-size: 60px;
    margin-left: 10%;
    justify-self: center;
}

.subtitle-what-we-do{
    font-family: Roboto , sans-serif;
    color: skyblue;
    font-weight: inherit;
    font-size: 30px;
}

.sections_text-what-we-do{
    font-family: Roboto , sans-serif;
    color: steelblue;
    font-weight: bold;
    font-size: 20px;
}

.sections_text-what-we-do ul {
    font-family: Roboto , sans-serif;
    color: skyblue;
    font-weight: bold;
    font-size: 20px;
}

.container-what-we-do ul li{
    margin-left: 5%;
}
/*What we do section END*/

/*Return button*/
.return_button{
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: transparent;
    font-family: Roboto , sans-serif;
    color: #234a6a;
}
/*Return button end */

/*FOOTER*/
.footer{
    text-decoration: none;
    background-color: #234a6a;
    display: flex;
    justify-content: flex-start;
    height: 40px;
}

.footer ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
}
.footer li{
    margin-right: 20px;
}


.footer ul li a{
    text-decoration: none;
    font-family: 'Roboto' , sans-serif;
    color: dodgerblue;
    font-size: 20px;
    font-weight: bold;
}

/*FOOTER END*/