@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#home {
    background-image: url("../images/coding.jpg");
}

.containerimage2 {
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 10px 0;
}

.container-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: steelblue;
}

.container-sections-2 {
    background-color: white;
    text-align: right;
}

.container-what-we-know {
    background-color: white;
}

.nav_bar_1 ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #43a6d4;
    list-style-type: none;
}

.nav_bar_1 ul li {
    padding: 10px;
    background-color: #43a6d4;
}

.nav_bar_1 a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.titles {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
}

.titles2 {
    color: steelblue;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
}

.subtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.subtitle2 {
    color: steelblue;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.sections_text {
    color: white;
    font-family: "Roboto Thin", sans-serif;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
}

.sections_text2 {
    display: block;
    text-align: center;
    padding: 16px;
    float: left;
    color: steelblue;
    font-family: "Roboto Thin", sans-serif;
    margin: 15px;
    font-size: 20px;
}

.sections_text2 li{
    float: left;
    margin-right: 20px;
}

.sections_text3 {
    color: steelblue;
    font-family: "Roboto Thin", sans-serif;
    margin: 15px;
    font-size: 20px;
}





.return_button {
    text-decoration: underline;
    color: white;
    font-family: "Roboto Thin", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
}

.link {
    text-decoration: underline;
    font-family: Roboto, sans-serif;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

.message_box {
    width: 45%;
    height: 150px;
    margin: auto;
    position: relative;
}

.send_button {
    width: 10%;
    height: 40px;
    margin: auto;
    position: relative;
}

#footer {
    display: block;
    color: white;
    background-color: white;
    text-align: left;
    float: left;
    font-size: small;
}

#footer ul {
    list-style-type: none;
}

#footer li {
    text-decoration: none;
    float: left;
    padding: 10px;
    color: steelblue;
}

body {
    background-color: rgb(70, 130, 180);
}

.container-persons {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.container-persons .card-person {
    width: 200px;
    padding: 10px;
    margin: 10px;
    height: 400px;
    background-color: lightskyblue;
    border-radius: 10px;
    box-shadow: 0px 5px 3px 0px #0000005e;
    color: white;
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;

}

.container-persons .card-person img {
    width: 80%;
}
