@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav_bar_1{
    text-decoration: none;
    background-color: #234a6a;
    display: flex;
    justify-content: flex-start;
    height: 80px;
}

.nav_bar_1 ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
}
.nav_bar_1 li{
        margin-right: 20px;
}


.nav_bar_1 ul li a{
    text-decoration: none;
    font-family: 'Roboto' , sans-serif;
    color: dodgerblue;
    font-size: 20px;
    font-weight: bold;
}

.titles{
    font-family: Roboto , sans-serif;
    color: #234a6a;
    font-weight: bolder;
    font-size: 60px;
}

.subtitles{
    font-family: Roboto , sans-serif;
    color: skyblue;
    font-weight: inherit;
    font-size: 60px;
}

.sections_text {
    font-family: Roboto , sans-serif;
    color: steelblue;
    font-weight: bold;
    font-size: 30px;
}

.sections_text ul{
    font-family: Roboto , sans-serif;
    color: skyblue;
    font-weight: lighter;
    font-size: 30px;
}

.container-about-us{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 40px;
}

.return_button{
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: transparent;
    font-family: Roboto , sans-serif;
    color: #234a6a;

}